@import "../../styles/_mixins";

.login {
  min-height: 90vh;
  width: 100%;
  @include flex;
  flex-flow: column wrap;
  .form {
    width: 100%;
    @include flex;
    flex-flow: column wrap;
  }

  .info {
    @include flex;
    flex-flow: column wrap;
    margin-top: 2.7rem;
    .subtitle {
      font-size: 0.9rem;
      margin-top: 2.5rem;
    }

    .forgot,
    .register {
      font-weight: bold;
      text-decoration: underline;
      color: var(--primary-black);
      display: block;
      margin-top: 0.4rem;
      &:hover {
        text-decoration: none;
      }
    }

    .btn {
      margin: 2.5rem 0 4.3rem 0;
    }
  }
}

@media all and (min-width: 62.5rem) {
  .login {
    margin-top: -2.8rem;
  }
}
