.btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 0 none;
  background-color: var(--primary-orange);
  position: relative;
  outline: 0 none;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(var(--rgb-primary-orange), 0.5);
  transition: 0.2s;

  &.corner {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &:focus,
  &:hover {
    box-shadow: none;
    transform: translateY(4px);
    transition: 0.2s ease-in-out;
  }
}
