@import "../../styles/_mixins";
.main {
  @include flex;
  width: 100%;
  flex-flow: column-reverse wrap;
  min-height: 85vh;
  padding: 4rem 0;

  .wrapper {
    @include flex;
    flex-flow: column wrap;

    .title {
      font-size: 3.1rem;
      text-align: center;
      margin: 0 0.5rem 3.8rem 0.5rem;
      padding: 0 1.3rem;
      max-width: 23.7rem;
      display: none;

      .violet {
        color: #b661b4;
        font-weight: 1000;
      }
    }

    .form {
      width: 100%;
      @include flex;
      flex-flow: column wrap;

      input {
        appearance: none;
      }

      .buttons {
        width: 100%;
        @include flex;

        button {
          margin: 1.9rem 0.6rem;
        }
      }
    }

    .subtitle {
      font-size: 0.88rem;
      line-height: 1.16rem;
      color: #7c7c7c;
      text-align: center;
      margin: 3.5rem 2rem;
      padding: 0 1.3rem;
      max-width: 23.7rem;
    }
  }

  .image {
    padding-bottom: 6.2rem;
    width: 13.7rem;
  }
}

@media all and (min-width: 62.5rem) {
  .main {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: -2.5rem;

    .wrapper {
      margin-top: 1.3rem;
      .title {
        text-align: left;
        margin-left: 2.9rem;
        margin-bottom: 4rem;
        padding: 0;
        display: block;
      }
    }

    .image {
      padding: 0;
      margin-left: 2rem;
      width: auto;
    }
  }
}
