@import "../../styles/_mixins";
.main {
  @include flex(space-evenly);
  width: 100%;
  flex-flow: column-reverse wrap;
  padding-bottom: 70px;

  .wrapper {
    @include flex;
    flex-flow: column wrap;

    .title {
      font-size: 3.1rem;
      text-align: center;
      margin: 0 8px 60px 8px;
      padding: 0 20px;
      max-width: 380px;
      display: none;

      .violet {
        color: #b661b4;
        font-weight: 1000;
      }
    }

    .form {
      width: 100%;
      @include flex;
      flex-flow: column wrap;

      input {
        appearance: none;
      }

      .buttons {
        width: 100%;
        @include flex;

        button {
          margin: 30px 10px;
        }
      }
    }

    .subtitle {
      font-size: 0.88rem;
      line-height: 1.16rem;
      color: #7c7c7c;
      text-align: center;
      margin: 54px 31px;
      padding: 0 20px;
      max-width: 380px;
    }
  }

  .image {
    padding-bottom: 53px;
    width: 220px;
  }
}

@media all and (min-width: 1000px) {
  .main {
    flex-flow: row wrap;

    .wrapper {
      margin-top: 20px;
      .title {
        text-align: left;
        margin-left: 45px;
        margin-bottom: 65px;
        padding: 0;
        display: block;
      }
    }

    .image {
      padding: 0;
      margin-left: 30px;
      width: auto;
    }
  }
}
