@import "../../styles/_mixins";

.offer {
  @include flex;
  flex-flow: column wrap;
  padding: 0 2.4rem;
  padding-bottom: 1.3rem;

  .main {
    @include flex;
    flex-flow: column wrap;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--primary-gray);
    width: 100%;
    max-width: 37.5rem;

    .logo {
      width: 6.8rem;
      height: 6.8rem;
      margin: 1rem;
      font-size: 2.6rem;
    }

    .title {
      font-weight: bold;
      font-size: 1.15rem;
      margin: 0.7rem 0 0.5rem 0;
      text-align: center;
      line-height: 1.7rem;
    }

    .company {
      color: var(--primary-gray);
      font-size: 0.9rem;
      padding-top: 0.5rem;
      border: 0 none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .more {
    margin-top: 1rem;
    @include flex(space-between);
    width: 100%;
    flex-wrap: wrap;

    .field {
      @include flex;
      margin: 0.25rem 0;
      flex-direction: row-reverse;

      .description {
        margin: 0 0.7rem;
        font-size: 0.95rem;
        text-transform: capitalize;

        &.searchBtn {
          border: 0 none;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .content {
    padding: 2.8rem 0 1.9rem 0;
    .date * {
      color: var(--primary-gray);
      font-size: 0.8rem;
    }

    .description {
      margin-top: 0.3rem;
      font-size: 0.9rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px;
      word-break: break-word;
      pre {
        word-break: break-word;
        white-space: pre-wrap;
      }

      h2 {
        margin: 1.5rem 0;
      }

      a {
        color: var(--primary-orange);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .tags {
    margin-bottom: 1rem;
  }
}

@media all and (min-width: 21.8rem) {
  .offer .more .field {
    margin: 0.1rem 0.65rem;
  }
}

@media all and (min-width: 40rem) {
  .offer .more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-top: 1.9rem;
  }
}
