@import "../../styles/_mixins";

.offer {
  @include flex;
  flex-flow: column wrap;
  padding: 0 2.4rem;
  padding-bottom: 1.3rem;

  .main {
    @include flex;
    flex-flow: column wrap;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--primary-gray);
    width: 100%;
    max-width: 37.5rem;

    .logo {
      width: 6.8rem;
      height: 6.8rem;
      margin: 1rem;
      font-size: 2.6rem;
    }

    .title {
      font-weight: bold;
      font-size: 1.15rem;
      margin: 0.7rem 0 0.5rem 0;
      text-align: center;
      line-height: 1.7rem;
    }

    .company {
      color: var(--primary-gray);
      font-size: 0.9rem;
      padding-top: 0.5rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .more {
    margin-top: 1rem;
    @include flex(space-between);
    flex-wrap: wrap;
    max-width: 100%;
    gap: 0.5rem;

    .field {
      @include flex(space-between);
      margin: 0.2rem 0;
      flex-direction: row-reverse;
      padding: 0 0.5rem;
      flex: 0 1 auto;

      .description {
        padding: 0 1rem;
        font-size: 0.95rem;
        text-transform: capitalize;
        word-break: break-word;

        &.searchBtn {
          border: 0 none;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .content {
    padding: 2.8rem 0 1.9rem 0;
    width: 100%;
    max-width: 50rem;
    text-align: justify;
    .date * {
      color: var(--primary-gray);
      font-size: 0.8rem;
    }

    .description {
      margin-top: 0.6rem;
      font-size: 0.9rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px;
      word-break: break-word;
      width: 100%;
      pre {
        word-break: break-word;
        white-space: pre-wrap;
      }

      h2 {
        margin: 1.5rem 0;
      }

      a {
        color: var(--primary-orange);

        &:hover {
          text-decoration: underline;
        }
      }

      figure {
        max-width: 100%;
        margin: 0;
        text-align: center;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .tags {
    margin-bottom: 1rem;
  }
}

@media all and (min-width: 40rem) {
  .offer .more {
    margin-top: 1.9rem;
    gap: 1rem;

    .field {
      width: auto;
      justify-content: center;

      .description {
        margin: 0 1.2rem;
      }
    }
  }
}
