@import "../../styles/_mixins";
.main {
  @include flex(space-evenly);
  width: 100%;

  .wrapper {
    @include flex;
    flex-flow: column wrap;
    margin-top: 20px;

    .title {
      font-size: 3.1rem;
      margin: 0 8px 60px 8px;
      text-align: center;
      max-width: 380px;

      .violet {
        color: #b661b4;
        font-weight: 1000;
      }
    }

    .form {
      width: 100%;
      @include flex;
      flex-flow: column wrap;
    }

    .subtitle {
      font-size: 0.88rem;
      line-height: 1.1rem;
      color: #7c7c7c;
      text-align: center;
      margin: 64px 31px;
      max-width: 380px;
    }
  }
}
