@import "../../styles/_mixins";

.empty {
  @include flex;
  flex-wrap: wrap;
  padding: 30px 0 20px 0;

  .wrapper {
    flex: 0 1 370px;
    @include flex;
    flex-flow: column wrap;

    .title {
      font-size: 1.8rem;
      color: var(--primary-orange);
    }

    .description {
      text-align: center;
      padding: 0 15px;
      margin-bottom: 20px;
      max-width: 400px;
      line-height: 1.4rem;
    }
  }

  .image {
    flex: 0 1 450px;

    padding: 10px 20px;
  }
}

@media all and (min-width: 800px) {
  .empty {
    .wrapper {
      .title {
        font-size: 2rem;
      }
      .description {
        margin-bottom: 40px;
        font-size: 1.15rem;
      }
    }
  }
}
