@import "../../styles/_mixins";

.wrapper {
  padding: 2.5rem 0;
  width: 100%;
  .mainCounter {
    @include flex;
    flex-flow: column wrap;
    border-top: 2px solid var(--primary-white);
    border-bottom: 2px solid var(--primary-white);
    width: 100%;
    padding: 2.5rem 1.89rem;

    .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 1.9rem;
      line-height: 1.8rem;
    }
  }

  .jobs {
    @include flex;
    flex-wrap: wrap;
    padding: 3.8rem 1.4rem;

    .data {
      flex: 0 1 25rem;
      @include flex(space-between);
      padding: 2.1rem;
      width: 100%;

      .text {
        @include flex(center, flex-start);
        flex-flow: column wrap;

        .label {
          margin: 0.3rem 0;
          font-size: 1.1rem;
        }

        .value {
          font-weight: bold;
          color: #7ae582;
        }
      }

      .icon {
        width: 5.6rem;
        height: 5.6rem;
        background-color: rgba(182, 97, 180, 0.2);
        @include flex;
        border-radius: 50%;
      }

      &:nth-child(2n + 2) {
        flex-direction: row-reverse;

        .icon {
          background-color: rgba(245, 155, 102, 0.2);
        }

        .text {
          .value {
            color: #ff5666;
          }
        }
      }
    }
  }

  .mobileApp {
    padding: 1.5rem 1.4rem 2.2rem 1.4rem;
    @include flex;
    flex-wrap: wrap;

    .about {
      flex: 0 1 25rem;
    }

    .mockup {
      flex: 0 1 28.1rem;
      margin-bottom: 4rem;
    }

    .about {
      .title {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
      }
      .text {
        font-size: 0.95rem;
        line-height: 1.6rem;

        .motto {
          display: block;
          margin-bottom: 1rem;
        }
      }

      .btn {
        border: 2px solid var(--primary-orange);
        color: var(--primary-white);
        background-color: var(--primary-orange);
        padding: 0.5rem 1.7rem;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        margin-top: 0.48rem;
        font-weight: bold;

        &:hover {
          color: var(--primary-orange);
          background-color: var(--primary-background);
          transition: 0.2s;
        }
      }
    }
  }
}

@media all and (min-width: 62.5rem) {
  .wrapper .jobs .data {
    .text {
      margin: 0 1.9rem;

      .label {
        font-size: 1.25rem;
      }

      .value {
        font-size: 1.1rem;
      }
    }
  }

  .wrapper .mobileApp .mockup {
    margin: 0;
    margin-right: 2.8rem;
  }
}

@media all and (min-width: 75rem) {
  .wrapper .mobileApp .mockup {
    margin: 0;
    margin-right: 5.3rem;
  }
}
