@import "../../styles/_mixins";

.empty {
  @include flex;
  flex-wrap: wrap;
  padding: 1.9rem 0 1.2rem 0;

  .wrapper {
    flex: 0 1 23.1rem;
    @include flex;
    flex-flow: column wrap;

    .title {
      font-size: 1.8rem;
      color: var(--primary-orange);
    }

    .description {
      text-align: center;
      padding: 0 1rem;
      margin-bottom: 1.4rem;
      max-width: 25rem;
      line-height: 1.4rem;
    }
  }

  .image {
    flex: 0 1 28.1rem;
    padding: 0.6rem 1.3rem;
  }
}

@media all and (min-width: 50rem) {
  .empty {
    .wrapper {
      .title {
        font-size: 2rem;
      }
      .description {
        margin-bottom: 2.3rem;
        font-size: 1.15rem;
      }
    }
  }
}
