:root {
  --primary-white: #fff;
  --rgb-primary-white: 255, 255, 255;
  --primary-orange: #f59b66;
  --rgb-primary-orange: 245, 155, 102;
  --primary-violet: #b661b4;
  --rgb-primary-violet: 182, 97, 180;
  --primary-black: #000;
  --rgb-primary-black: 0, 0, 0;
  --primary-gray: #d2d0d0;
  --rgb-primary-gray: 210, 208, 208;
  --primary-background: #f2f2f2;
  --rgb-primary-background: 242, 242, 242;

  --second-font: "Poppins", sans-serif;

  --gray-shadow: 1px 2px 5px 1px rgba(168, 155, 155, 0.25);
}
