:root {
  --primary-white: #fff;
  --rgb-primary-white: 255, 255, 255;
  --field: #fff;
  --primary-orange: #f59b66;
  --rgb-primary-orange: 245, 155, 102;
  --primary-violet: #b661b4;
  --rgb-primary-violet: 182, 97, 180;
  --primary-black: #000;
  --rgb-primary-black: 0, 0, 0;
  --primary-gray: #cec6c6;
  --rgb-primary-gray: 210, 208, 208;
  --light-gray: #faf9fd;
  --primary-background: #f2f2f2;
  --rgb-primary-background: 242, 242, 242;

  --second-font: "Poppins", sans-serif;
  --input-font: "Roboto", sans-serif;

  --gray-shadow: 1px 2px 5px 1px rgba(168, 155, 155, 0.25);

  --primary-selection: #fff065;
}

[data-theme="dark"] {
  --primary-background: #242526;
  --field: #3a3b3c;
  --primary-black: #e4e6eb;
  --gray-shadow: 1px 2px 5px 1px rgba(168, 155, 155, 0.1);
  --light-gray: rgb(60, 63, 63);
  --primary-gray: #a7a2a2;
  --primary-selection: #25a18e;
}
