@import "../../styles/_mixins";

.offer {
  width: 100%;
  background: var(--field);
  color: var(--primary-black);
  padding: 1.5rem 0;
  box-shadow: var(--gray-shadow);
  border-radius: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  transition: 0.3s;
  margin: 1rem 0;
  cursor: pointer;

  .logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1.1rem;
    font-size: 1.3rem;
  }

  .description {
    margin-top: 0.75rem;
    .title {
      margin: 0;
      margin-bottom: 0.57rem;
      font-weight: bold;
      line-height: 1.3rem;
    }
    .location,
    .company {
      font-size: 0.75rem;
      display: block;
      margin: 0.1rem 0;

      .icon {
        display: none;
      }
    }

    .company {
      display: none;
    }
  }
  .salary {
    font-size: 1.5rem;
    color: rgba(var(--rgb-primary-violet), 0.44);
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 16px;
  }

  .btn {
    position: absolute;
    bottom: 11px;
    right: 14px;
  }

  &:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(212, 93, 161, 1) 0%,
      rgba(var(--rgb-primary-violet), 1) 64%
    );
    transform: translateY(-4px);
    transition: background 0.6s, transform 0.6s;

    * {
      color: var(--primary-white);
    }
  }
}

@media all and (min-width: 700px) {
  .offer {
    padding: 1.5rem 1.3rem;
    grid-template-columns: 0.5fr 4fr 0.7fr;

    .description {
      @include flex(center, flex-start);
      flex-flow: column wrap;
      align-self: center;
      margin-top: 0.3rem;

      .additional {
        @include flex;
        color: var(--primary-gray);
      }

      .wrapper {
        margin: 0 1.3rem;

        .location,
        .company {
          display: block;
          font-size: 0.85rem;
          color: var(--primary-gray);
          @include flex;

          .icon {
            display: block;
            margin-right: 0.6rem;
          }
        }
      }
    }

    &:hover {
      .description .additional .wrapper {
        .location,
        .company {
          color: var(--primary-white);
        }

        .icon path {
          fill: var(--primary-white);
        }
      }
    }
  }
}
