@import "../../styles/_mixins";

.offer {
  width: 100%;
  background: var(--field);
  color: var(--primary-black);
  padding: 1.5rem 0;
  box-shadow: var(--gray-shadow);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  margin: 1rem 0;
  cursor: pointer;

  .logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1.1rem;
    font-size: 1.3rem;
  }

  .description {
    margin-top: 0.7rem;
    .label {
      display: none;
    }
    .title {
      margin: 0;
      margin-bottom: 0.57rem;
      font-weight: bold;
    }
    .location,
    .company {
      font-size: 0.75rem;
      display: block;
      margin: 0.1rem 0;
    }
  }
  .salary {
    font-size: 1.5rem;
    color: rgba(var(--rgb-primary-violet), 0.44);
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 16px;
  }

  .btn {
    position: absolute;
    bottom: 11px;
    right: 14px;
  }

  &::after {
    @include pseudo;
    z-index: -1;
    box-shadow: 0 3px 10px 2px rgba(var(--rgb-primary-violet), 0.56);
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.3s;
  }

  &:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(212, 93, 161, 1) 0%,
      rgba(var(--rgb-primary-violet), 1) 64%
    );
    transform: translateY(-4px);
    transition: all 0.6s;

    &::after {
      opacity: 1;
      transition: opacity 0.3s;
    }
    * {
      color: white;
    }
  }
}

@media all and (min-width: 700px) {
  .offer {
    display: grid;
    padding: 1.5rem 1.3rem;
    grid-template-columns: 0.5fr 4fr 0.7fr;

    .description {
      display: grid;
      grid-template-columns: 2.5fr 2fr 2fr;
      align-items: center;
      margin: 0;

      .wrapper {
        margin: 0 1.3rem;
        .title,
        .location,
        .company {
          margin: 0;
          margin-bottom: 0.57rem;
        }

        .location,
        .company {
          font-size: 0.85rem;
          font-weight: bold;
        }

        .label {
          display: block;
          text-transform: uppercase;
          font-size: 0.6rem;
        }
      }
    }
  }
}
