@import "../../styles/_mixins";

.offer {
  width: 100%;
  background: #fff;
  padding: 25px 0;
  box-shadow: 0 3px 10px 2px rgba(161, 161, 161, 0.25);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  margin: 15px 0;
  cursor: pointer;

  .logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 1.1rem;
    font-size: 1.3rem;
  }

  .description {
    margin-top: 5px;
    .label {
      display: none;
    }
    .title {
      margin: 0;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .location,
    .company {
      font-size: 0.75rem;
      display: block;
      margin: 1.5px 0;
    }
  }
  .salary {
    font-size: 1.5rem;
    color: rgba(182, 97, 180, 0.44);
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 16px;
  }

  .btn {
    position: absolute;
    bottom: 11px;
    right: 14px;
  }

  &::after {
    @include pseudo;
    z-index: -1;
    box-shadow: 0 3px 10px 2px rgba(var(--rgb-primary-violet), 0.56);
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.3s;
  }

  &:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(212, 93, 161, 1) 0%,
      rgba(182, 97, 180, 1) 64%
    );
    transform: translateY(-4px);
    transition: all 0.6s;

    &::after {
      opacity: 1;
      transition: opacity 0.3s;
    }
    * {
      color: white;
    }
  }
}

@media all and (min-width: 700px) {
  .offer {
    display: grid;
    padding: 25px 20px;
    grid-template-columns: 0.5fr 4fr 0.7fr;

    .description {
      display: grid;
      grid-template-columns: 2.5fr 2fr 2fr;
      align-items: center;

      .wrapper {
        margin: 0 20px;
        .title,
        .location,
        .company {
          margin: 0;
          margin-bottom: 6px;
        }

        .location,
        .company {
          font-size: 0.85rem;
          font-weight: bold;
        }

        .label {
          display: block;
          text-transform: uppercase;
          font-size: 0.6rem;
        }
      }
    }
  }
}

/*
@media all and (min-width: 700px) {
  .offer {
    padding: 25px 20px;
    .description {
      @include flex;

      .wrapper {
        margin: 0 20px;
        .title,
        .location,
        .company {
          margin: 0;
          margin-bottom: 6px;
        }

        .location,
        .company {
          font-size: 0.85rem;
          font-weight: bold;
        }

        .label {
          display: block;
          text-transform: uppercase;
          font-size: 0.6rem;
        }
      }
    }
  }
}
*/
