@import "../../styles/_mixins";

.dashboard {
  @include flex;
  flex-flow: column wrap;
  min-height: 100vh;
  margin-top: -5rem;
  .fields {
    @include flex;
    margin-bottom: 1.8rem;

    .field {
      flex: 0 1 15.6rem;
      width: 40vw;
      max-width: 12.5rem;
      height: clamp(120px, 58vw, 250px);
      padding: 2.2rem 0.7rem;
      margin: 0 0.6rem;
      border-radius: 10px;
      @include flex(space-between);
      flex-flow: column wrap;
      background-color: var(--primary-white);
      border: 2px solid rgba(0, 0, 0, 0.08);
      cursor: pointer;
      transition: transform 0.3s;
      box-shadow: 0 3px 20px 2px var(--primary-gray);
      position: relative;

      &:hover {
        transform: translateY(-25px) rotate(7deg);
        transform-origin: "100% 100%";
        transition: all 0.3s;

        &::after {
          opacity: 1;
          transition: opacity 0.3s;
        }
      }
      .icon {
        max-width: 9.5rem;
        padding: 0 1rem;
      }
      .label {
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;
        font-size: 0.9rem;
        background-color: transparent;
        border: 0 none;
        cursor: pointer;

        @media all and (min-width: 28rem) {
          font-size: 1.15rem;
        }
      }
    }
  }
}

@media all and (min-width: 62.5rem) {
  .dashboard .fields {
    margin-bottom: 1.9rem;
    .field {
      margin: 1.4rem;

      .icon {
        padding: 0;
      }
    }
  }
}

@media all and (max-width: 22.5rem) {
  .dashboard .fields .field {
    padding: 1.8rem 0.7rem;
    .icon {
      transform: scale(0.85);
    }
  }
}
