@import "../../styles/_mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  @include flex;

  .window {
    @include flex;
    flex-flow: column wrap;
    width: 85vw;
    max-width: 28.1rem;
    min-height: 18.1rem;
    background-color: var(--field);
    position: relative;
    border-radius: 10px;
    padding: 0 2.3rem 1.3rem 2.3rem;

    .info {
      font-weight: 600;
      font-size: 1.05rem;
      line-height: 1.45rem;
      text-align: center;
      padding: 1.8rem 0 1.3rem 0;

      @media all and(min-width:1000px) {
        font-size: 1.1rem;
        padding: 1.8rem 0.65rem 1.3rem 0.65rem;
      }
    }

    .buttons {
      position: absolute;
      right: 15px;
      bottom: 15px;

      .cancel,
      .ok {
        margin: 0 0.35rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 0.78rem;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
      }

      .cancel {
        border: 1px solid var(--primary-orange);
        color: var(--primary-orange);
        background-color: var(--field);
        transition: 0.3s;

        &:hover {
          background-color: var(--primary-orange);
          transition: 0.3s;
          color: var(--primary-white);
        }
      }

      .ok {
        background-color: var(--primary-orange);
        color: var(--primary-white);
        border: 1px solid var(--primary-orange);
        transition: 0.3s;

        &:hover {
          background-color: var(--field);
          transition: 0.3s;
          color: var(--primary-orange);
        }
      }
    }
  }
}
