@import "../../styles/_mixins";
.main {
  @include flex(space-evenly);
  width: 100%;
  padding: 5rem 0 4.6rem 0;

  .logo {
    position: absolute;
    top: 20px;
    left: 24px;
  }

  .theme {
    position: absolute;
    top: 22px;
    right: 25px;
  }

  .wrapper {
    @include flex;
    flex-flow: column wrap;

    .title {
      font-size: 3.1rem;
      text-align: center;
      margin: 0 0.5rem 3.8rem 0.5rem;
      padding: 0 1.4rem;
      max-width: 23.7rem;

      .violet {
        color: #b661b4;
        font-weight: 1000;
      }
    }

    .form {
      width: 100%;
      @include flex;
      flex-flow: column wrap;

      input {
        appearance: none;
      }
    }

    .subtitle {
      font-size: 0.88rem;
      line-height: 1.16rem;
      color: #7c7c7c;
      text-align: center;
      margin: 3.4rem 2rem;
      padding: 0 1.3rem;
      max-width: 23.7rem;
    }
  }

  .image {
    display: none;
  }
}

@media all and (min-width: 62.5rem) {
  .main {
    padding-top: 1.8rem;
    .image {
      display: block;
    }

    .wrapper {
      margin-top: 1.3rem;
      .title {
        text-align: left;
        margin-left: 2.8rem;
        padding: 0;
      }
    }
  }
}
