@import "../../styles/_mixins";

.content {
  @include flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 3.1rem 0 5.3rem 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  max-width: 75rem;

  .logo {
    position: absolute;
    top: 39px;
    left: 38px;
    cursor: pointer;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    color: var(--primary-orange);
    position: relative;
    padding-bottom: 0.6rem;
    font-size: 1.7rem;
    transform: translateY(-25px);

    &::after {
      @include pseudo(50%, 100%, 25%, var(--primary-orange));
      height: 7%;
    }
  }
}

@media all and (min-width: 62.5rem) {
  .content {
    padding: 7rem 2.5rem 0 2.5rem;

    .title {
      font-size: 1.9rem;
    }
  }
}
