@import "../../styles/_mixins";

.content {
  @include flex;
  flex-flow: column wrap;
  padding: 70px 0 85px 0;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  max-width: 1200px;

  .logo {
    position: absolute;
    top: 39px;
    left: 38px;
    cursor: pointer;
  }
}

@media all and (min-width: 1000px) {
  .content {
    padding: 45px 40px 0 40px;
  }
}
