@import "../../styles/_mixins";

.cookies {
  @include flex(space-between);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 20px;
  padding-bottom: 70px;
  background-color: var(--primary-orange);
  color: var(--primary-white);
  max-width: 1200px;
  line-height: 1.4rem;
  z-index: 9;

  .btn {
    text-transform: uppercase;
    padding: 7px 25px;
    font-weight: bold;
    margin: 0 7px;
    cursor: pointer;
    background-color: var(--primary-violet);
    border: 2px solid var(--primary-violet);
    color: var(--primary-white);
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      color: var(--primary-violet);
      background-color: var(--primary-white);
      transition: all 0.3s;
    }
  }
}

@media all and (min-width: 1000px) {
  .cookies {
    padding: 0 30px;
  }
}
