@import "../../styles/_mixins";

.wrapper {
  @include flex;
  flex-flow: column wrap;
  padding: 0.8rem 0 1.3rem 0;
  width: 100%;
  .form {
    @include flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 26.8rem;

    .textarea {
      width: 82%;
      border: 0 none;
      border-radius: 15px;
      box-shadow: var(--gray-shadow);
      padding: 1rem 1.2rem;
      line-height: 1.3rem;
      background-color: var(--field);
      &::placeholder {
        color: var(--primary-gray);
      }
    }

    .apply {
      width: 100%;
      margin-bottom: 1.3rem;
      @include flex;
      flex-flow: column wrap;
    }

    .error {
      color: var(--primary-orange);
      padding: 0.4rem 2.7rem;
      align-self: flex-start;
      font-family: var(--input-font);
      font-size: 0.75rem;
    }

    .checkboxes {
      width: 85%;
      @include flex;
      flex-wrap: wrap;
      padding: 1.5rem 0;
    }
  }
}
