@import "../../styles/_mixins";

.login {
  min-height: 90vh;
  width: 100%;
  @include flex;
  flex-flow: column wrap;
  .form {
    width: 100%;
    @include flex;
    flex-flow: column wrap;
  }

  .info {
    @include flex;
    flex-flow: column wrap;
    margin-top: 45px;
    .subtitle {
      font-size: 0.9rem;
      margin-top: 40px;
    }

    .forgot,
    .register {
      font-weight: bold;
      text-decoration: underline;
      color: var(--primary-black);
      display: block;
      margin-top: 5px;
      &:hover {
        text-decoration: none;
      }
    }

    .btn {
      margin: 40px 0 70px 0;
    }
  }
}

@media all and (min-width: 1000px) {
  .login {
    margin-top: -50px;
  }
}
