@import "../../styles/_mixins";

.form {
  width: 100%;
  @include flex;
  flex-flow: column wrap;
  min-height: 90vh;
  padding-top: 1.3rem;
}

@media all and (min-width: 62.5rem) {
  .form {
    margin-top: -3.1rem;
  }
}
