@import "../../styles/_mixins";

.foo {
  width: 100%;
  background-color: var(--primary-orange);
  padding: 1.9rem 1.7rem 0.95rem 1.4rem;
  @include flex;
  flex-wrap: wrap;
  margin: 1.9rem 0 -1.9rem 0;

  .wrapper,
  .image {
    @include flex;
    flex-flow: column wrap;
    flex: 0 1 28.1rem;
  }

  .image {
    padding: 2.8rem 1.9rem;
  }

  .wrapper {
    .title {
      font-weight: bold;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: var(--primary-white);
    }
    .text {
      font-size: 0.95rem;
      line-height: 1.5rem;
      text-align: center;
      color: var(--primary-white);
    }

    .btn {
      border: 2px solid var(--primary-white);
      color: var(--primary-orange);
      background-color: var(--primary-white);
      padding: 0.5rem 1.7rem;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
      margin: 0.95rem;
      font-weight: bold;

      &:hover {
        color: var(--primary-white);
        background-color: var(--primary-orange);
        transition: 0.2s;
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 1.4rem;
    font-size: 0.9rem;
    color: var(--primary-white);
  }
}

@media all and (min-width: 1000px) {
  .foo {
    border-radius: 20px;
    margin: 1.9rem 0 3.8rem 0;

    .wrapper {
      align-items: flex-start;

      .text {
        text-align: left;
      }

      .btn {
        margin: 0;
        margin-top: 0.95rem;
      }
    }

    .image {
      padding: 2rem;
    }

    .copyright {
      padding: 0;
      padding-top: 1.4rem;
    }
  }
}
