.loadMore {
  .spinner {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    div {
      position: absolute;
      top: 33px;
      width: 0.88rem;
      height: 0.88rem;
      border-radius: 50%;
      background: var(--primary-orange);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: spin1 0.6s infinite;
      }
      &:nth-child(2) {
        left: 8px;
        animation: spin2 0.6s infinite;
      }
      &:nth-child(3) {
        left: 32px;
        animation: spin2 0.6s infinite;
      }
      &:nth-child(4) {
        left: 56px;
        animation: spin3 0.6s infinite;
      }
    }
  }
}

@keyframes spin1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
