@import "../../styles/_mixins";

.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  z-index: 99;

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;

    .listItem {
      display: block;
    }
  }

  .left,
  .right {
    height: 4rem;
    width: 50%;
    background-color: var(--field);
    @include flex(space-evenly);
  }

  .left {
    border-radius: 15px 15px 0 0;
    padding-right: 1.3rem;
  }

  .link {
    @include flex;
    flex-flow: column wrap;
    .label {
      color: var(--primary-black);
      font-size: 0.65rem;
      padding-top: 0.48rem;
    }
  }

  .right {
    border-radius: 15px 15px 0 0;
    padding-left: 1.3rem;
  }

  svg {
    cursor: pointer;

    path {
      fill: var(--primary-black);
    }
  }

  .active {
    svg path {
      fill: var(--primary-violet);
    }

    .label {
      color: var(--primary-violet);
    }
  }

  .center {
    @include pseudo(2.2rem, 0, 50%, var(--primary-orange));
    transform: translate(-50%, 14px);
    height: 2.2rem;
    border-radius: 50%;
    @include flex;
  }
}

@media all and (min-width: 1000px) {
  .nav {
    position: absolute;
    top: 20px;
    height: 4.1rem;
    right: 40px;
    width: auto;

    .left,
    .right {
      background-color: transparent;
      padding: 0;
      width: auto;
    }

    .link {
      .label {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 1.55rem;
        cursor: pointer;
        color: var(--primary-black);
        transition: color 0.3s;
        font-size: 0.95rem;

        &:hover {
          color: var(--primary-orange);
          transition: color 0.3s;
        }
      }
    }

    svg {
      display: none;
    }

    .center {
      display: none;
    }

    .active .label {
      color: var(--primary-orange);
    }
  }
}
