@import "../../styles/_mixins";

.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  z-index: 100;

  .left,
  .right {
    height: 66px;
    width: 50%;
    background-color: var(--primary-white);
    @include flex(space-evenly);
  }

  .left {
    border-radius: 15px 15px 0 0;
    padding-right: 20px;
  }

  .right {
    border-radius: 15px 15px 0 0;
    padding-left: 20px;
  }

  .label {
    display: none;
  }

  svg {
    cursor: pointer;
  }

  .active svg path {
    fill: var(--primary-violet);
  }

  .center {
    @include pseudo(36px, 0, 50%, var(--primary-orange));
    transform: translate(-50%, 14px);
    height: 36px;
    border-radius: 50%;
    @include flex;
  }
}

@media all and (min-width: 1000px) {
  .nav {
    position: relative;
    top: 0;
    height: 66px;
    right: 0;
    width: auto;
    align-self: flex-end;

    .left,
    .right {
      background-color: transparent;
      padding: 0;
      width: auto;
    }

    .label {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 23px;
      cursor: pointer;
      color: var(--primary-black);
      transition: color 0.3s;
      font-size: 0.96rem;

      &:hover {
        color: var(--primary-orange);
        transition: color 0.3s;
      }
    }

    svg {
      display: none;
    }

    .center {
      display: none;
    }

    .active .label {
      color: var(--primary-orange);
    }
  }
}
