@import "../../styles/_mixins";

.settings {
  @include flex;
  flex-wrap: wrap;
  width: 100%;

  .main {
    flex: 0 1 25rem;
    @include flex;
    flex-flow: column wrap;
    word-break: break-word;
    padding: 0 1rem;
    width: 100%;
    .logo {
      width: 6.8rem;
      height: 6.8rem;
      margin: 1rem;
      font-size: 2.6rem;
    }

    .name {
      font-weight: bold;
      font-size: 1.25rem;
      margin: 0.65rem 0 0.5rem 0;
      text-align: center;
      line-height: 1.7rem;
    }

    .company {
      color: var(--primary-gray);
      font-size: 0.9rem;
      padding-top: 0.5rem;
    }
  }

  .form {
    width: 100%;
    flex: 0 1 25rem;
    @include flex;
    flex-flow: column wrap;
    padding: 2rem 0;
  }
}

@media all and (min-width: 50rem) {
  .main {
    transform: scale(1.4) translate(-25px, -60px);
  }

  .settings .form {
    margin-top: -1.9rem;
    padding: 3rem 0;
  }
}
