@import "../../styles/_mixins";

.results {
  width: 100%;
  @include flex;
  flex-flow: column wrap;
  padding-bottom: 1.6rem;

  .form {
    @include flex;
    width: 100%;
    padding-right: 1.1rem;

    button {
      margin-top: -1.1rem;
      margin-left: -0.65rem;
    }
  }

  .all {
    @include flex;
    flex-flow: column wrap;
    padding: 1.3rem 0 0.4rem 0;

    .text {
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 0.8px;
    }

    .link {
      margin-top: 1.3rem;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: var(--primary-black);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
