@import "../../styles/_mixins";

.settings {
  @include flex;
  flex-wrap: wrap;
  width: 100%;

  .main {
    flex: 0 1 400px;
    @include flex;
    flex-flow: column wrap;
    word-break: break-word;
    padding: 0 15px;
    width: 100%;
    .logo {
      width: 110px;
      height: 110px;
      margin: 15px;
      font-size: 2.6rem;
    }

    .name {
      font-weight: bold;
      font-size: 1.25rem;
      margin: 10px 0 7px 0;
      text-align: center;
      line-height: 1.7rem;
    }

    .company {
      color: var(--primary-gray);
      font-size: 0.9rem;
      padding-top: 7px;
    }
  }

  .form {
    width: 100%;
    flex: 0 1 400px;
    @include flex;
    flex-flow: column wrap;
    padding: 40px 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    transform: scale(1.4) translate(-25px, -60px);
  }

  .settings .form {
    margin-top: -30px;
    height: 590px;
  }
}
