@import "../../styles/_mixins";

.btn {
  padding: 0.75rem 2.1rem;
  border-radius: 30px;
  background-color: var(--primary-orange);
  position: relative;
  @include flex;
  border: 0 none;
  outline: 0 none;
  color: var(--primary-white);
  cursor: pointer;
  margin: 1.3rem 0;
  transition: transform 0.3s;

  &::after {
    @include pseudo;
    border-radius: 30px;
    box-shadow: 0 2px 8px 2px rgba(var(--rgb-primary-orange), 0.25);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    transform: translateY(4px);
    transition: transform 0.2s ease-in-out;

    &::after {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
