.btn {
  padding: 11px 33px;
  border-radius: 30px;
  background-color: #f59b66;
  position: relative;
  border: 0 none;
  display: flex;
  outline: 0 none;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
  transition: transform 0.3s;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    box-shadow: 0 3px 20px 2px rgba(245, 155, 102, 0.5);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    transform: translateY(4px);
    transition: transform 0.2s ease-in-out;

    &::after {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
